/* $id */
/*
 * Theme name: crusti
 * Theme by: Worthapost
 * Website: http://www.worthapost.com
 * Author name: Mohd. Sakib
 *
 * Visit our website to rate this theme and see our Ppremium Themes.
 *
 */
body.mainbody {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    background: #EFEFEF url(images/bg.png) repeat;
}

h1 a, h1 a:link, h1 a:visited, h2 a, h2 a:link, h2 a:visited, h3 a, h3 a:link, h3 a:visited, h4 a, h4 a:link, h4 a:visited {
    text-decoration: none;
}

h1 a:hover, h1 a:active, h2 a:hover, h2 a:active, h3 a:hover, h3 a:active, h4 a:hover, h4 a:active {
    text-decoration: none;
}

h1, h2, h3, h4 {
    line-height: 1.3em;
    padding: 3px 0;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 5px 0 10px 0;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 18px;
    margin: 0;
}

h4 {
    font-size: .9em;
    margin: 3px 0;
}

ul, quote, code, fieldset {
    margin: .5em 0;
}

a:link, a:visited {
    color: #B41C11;
    text-decoration: none;
}

a:hover {
    color: #b41c11;
    text-decoration: underline;
}

a:active, a.active {
    color: #b41c11;
}

hr {
    margin: 0;
    padding: 0;
    border: none;
    height: 1px;
    background: #d74f45;
}

/*
 * Lists
 */
ul {
    margin: 0.5em 0 1em;
    padding: 0;
}

ol {
    margin: 0.75em 0 1.25em;
    padding: 0;
}

ol li, ul li {
    margin: 0.4em 0 0.4em .5em;
}

ol li {
    padding: 0 0 .3em;
    margin-left: 2em;
}

ul.inline li {
    background: none;
    margin: 0;
    padding: 0 1em 0 0; /* LTR */
}

ol.task-list {
    margin-left: 0; /* LTR */
    list-style-type: none;
    list-style-image: none;
}

ol.task-list li {
    padding: 0.5em 1em 0.5em 2em; /* LTR */
}

ol.task-list li.active {
}

ol.task-list li.done {
    color: #393;
}

ol.task-list li.active {
    margin-right: 1em; /* LTR */
}

fieldset ul.clear-block li {
    margin: 0;
    padding: 0;
    background-image: none;
}

.links ul.links.inline {
    display: block;
    text-align: right;
}

ul.links li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}

/*
 * Table and and box content
 */
dl {
    margin: 0.5em 0 1em 1.5em; /* LTR */
}

dl dt {
}

dl dd {
    margin: 0 0 .5em 1.5em; /* LTR */
}

img, a img {
    border: none;
}

table {
    margin: 1em 0;
    width: 100%;
}

thead th {
    border-bottom: 2px solid #d3e7f4;
    color: #494949;
    font-weight: bold;
}

th a:link, th a:visited {
    color: #6f9dbd;
}

td, th {
    padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
    border: solid #d3e7f4;
    border-width: 1px 0;
}

tr.odd, tr.info {
    background-color: #edf5fa;
}

tr.even {
    background-color: #fff;
}

tr.drag {
    background-color: #fffff0;
}

tr.drag-previous {
    background-color: #ffd;
}

tr.odd td.active {
    background-color: #ddecf5;
}

tr.even td.active {
    background-color: #e6f1f7;
}

p {
    margin: 0.6em 0 1.2em;
    padding: 0;
    line-height: 20px;
}

/*
 * Drupal Classes
 */
.description {
    padding: .5em;
    font-size: .8em;
    font-style: italic;
}

.messages, .help {
    margin: 1em;
    padding: 1em;
    border-width: 2px;
    border-style: solid;
}

.messages ul {
    margin: 0;
}

.error {
    border-color: #ff0000;
    background-color: #ffdddd;
}

.status {
    font-style: italic;
    border-color: #9FE4FF;
    background-color: #D9F4FF;
}

.help {
    font-style: italic;
    border-color: #FEFF7F;
    background-color: #ffffcc;
}

.help .more-help-link {
    font-weight: bold;
}

/*
 * Form Elements
 */
input {
    color: #222;
}

textarea, select {
    color: #222;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
    margin: 0.25em 0;
}

#dblog-form-overview .form-submit, .confirmation .form-submit, .search-form .form-submit, .poll .form-submit, fieldset .form-button, fieldset .form-submit, .sidebar .form-button, .sidebar .form-submit, table .form-button, table .form-submit {
    margin: 0;
}

/*
 * Node Elements
 */
.node {
    margin-bottom: 20px;
}

ul.links li, ul.inline li {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 1em;
    background-image: none;
}

.node .links, .comment .links {
    text-align: left; /* LTR */
}

.node .links ul.links li, .comment .links ul.links li {
}

.terms ul.links li {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 1em;
}

.new {
    color: #0000ff;
    font-size: 0.90em;
    font-weight: bold;
    float: right; /* LTR */
    height: 10px;
}

.preview .node, .preview .comment, .sticky {
    margin: 0;
    padding: 0.5em 0;
    border: 0;
    background: 0;
}

.indented {
    margin-left: 25px;
}

/*
 * Menu
 */
tr.menu-disabled {
    opacity: 0.7;
}

tr.odd td.menu-disabled {
    background-color: #aaa;
}

tr.even td.menu-disabled {
    background-color: #fff;
}

/*
 * Aggregator
 */
#aggregator {
    margin-top: 1em;
}

#aggregator .feed-item-title {
    font-size: 140%;
    line-height: 120%;
}

#aggregator .feed-item {
    border-bottom: 1px solid #aaa;
    padding: 1.3em 30px;
}

#aggregator .feed-item-categories {
    font-size: 0.90em;
}

#aggregator .feed-item-meta {
    font-size: 0.90em;
    color: #444;
}

/*
 * Poll
 */
.poll .bar {
    background: #eee /* url(images/) repeat-x 0 100% */;
    border: solid #e1e1e1;
    border-width: 0 1px 1px;
}

.poll .bar .foreground {
    background: #555 /* url(images/) repeat-x 0 100% */;
}

.poll .percent {
    font-size: .8em;
}

html, body {
    width: 100%;
    height: 100%;
}

fieldset {
    border: 1px solid #ddd;
}

#container_main {
    width: 98%;
    min-height: 800px;
    background: #fff;
    margin: 0 auto;
}

#container_main.RightsideExist {
    max-width: 1260px;
    min-width: 800px;
}

#container_main.NoRightside {
    max-width: 950px;
    min-width: 600px;
}

/*
 * Top menu
 */
#top_menu {
    height: 30px;
    width: 100%;
    padding-bottom: 22px;
    background: #FBF8E6;
}

#top_menu .secondary-links {
    float: right;
}

#top_menu .secondary-links li {
    margin: 0;
    padding: 0;
}

#top_menu .secondary-links li a {
    padding: 10px 25px 0 5px;
    border-left: 1px solid #cccccc;
    border-top: 4px solid #870c00; /* THEME-COLOR */
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    float: left;
    display: block;
}

#top_menu .secondary-links li a:hover, #top_menu .secondary-links li a.active {
    border-top: 4px solid #fbd584; /* THEME-COLOR */
}

/*
 * Banner
 */
#header {
    z-index: 3;
    min-height: 200px;
    background: #fff url(images/header.png) bottom repeat-x;
    border-top: 6px solid #850902;
}

#header a img {
    border: none;
    margin: 0;
    padding: 0;
}

#header #logoandtext {
    margin: 58px 0 0 20px;
    float: left;
}

#header #logocontainer {
    float: left;
}

#header #texttitles {
    float: left;
    margin-left: 12px;
}

#header #texttitles h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 3px #333;
    font-family: Helvetica, Arial, sans-serif;
}

#header #texttitles h1 a, #header #texttitles h1 a:hover {
    text-decoration: none;
    color: #fffef7;
}

#header #texttitles .site-slogan {
    font-weight: normal;
    text-indent: 2px;
    font-size: 18px;
    text-shadow: 0 1px 1px #333;
}

/*
 * Wrap structure
 */
#wrap {
    position: relative;
    z-index: 4;
}

.RightsideExist #wrap #left {
    min-height: 400px;
    margin-right: 310px;
}

.NoRightside #wrap #left {
    min-height: 400px;
    width: 100%;
}

#wrap #right {
    z-index: 5;
    width: 310px;
    min-height: 400px;
    position: absolute;
    right: 0;
    top: -27px;
}

/*
 * Main Menu
 */
#main_menu {
    height: 40px;
    width: 100%;
}

#main_menu ul.primary-links {
    height: 40px;
    line-height: 40px;
    background: #850902; /* THEME-COLOR */
    width: 100%;
}

#main_menu ul.primary-links li {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    background: url(images/menu-border.png) right center no-repeat;
}

#main_menu ul.primary-links li a:hover, #main_menu ul.primary-links li a.active {
    background: url(images/menu-hover.png) repeat-x;
}

#main_menu ul.primary-links li.first a.active {
    background: none;
}

#main_menu ul.primary-links li.first a:hover {
    background: url(images/menu-hover.png) repeat-x;
}

/*
 * Content area
 */
#content_area {
    padding: 25px 30px 25px 25px;
}

/*
 * Right area
 */
#themesearchbox {
    height: 60px;
    background: #ffd293 url(images/search-bg.png) top repeat-x; /* THEME COLOR*/
    border-bottom: 7px solid #edc66f;
}

#themesearchbox #search * {
    margin: 0;
}

#themesearchbox #search .form-item label {
    display: none;
    visibility: hidden;
}

#themesearchbox #search {
    margin: 0 0 0 10px;
    padding-top: 22px;
}

.form-text {
    border: 1px solid #aaa;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    font-size: 13px;
    padding: 2px;
    color: #555;
}

.form-submit {
    color: #fff;
    border: 1px solid #c04e2b;
    background: #ad3a17;
    padding: 1px 10px;
    color: #fff;
    font-size: 13px;
    line-height: 14px;
}

#themesearchbox .form-text {
    width: 210px;
}

#themesearchbox .form-submit {
    width: 68px;
}

/*
 * Mission
 */
#mission {
    background: #FBF8E6;
    margin: 5px;
    border: 1px solid #ffd293;
    border-left: 3px solid #ffd293;
    padding: 5px 10px;
}

/*
 * blocks
 */
#right {
    background: #fff;
}

#right h1, #right h2, #right h3, #right h4 {
    margin: 0 0 4px 0;
    font-size: 14px;
}

#main_right {
}

#right #subright1 {
    float: left;
    width: 48%;
}

#right #subright2 {
    float: right;
    width: 48%;
}

#right .block {
    margin: 10px 0;
}

#right .block .blocktitle {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 10px 8px 26px;
    background: url(images/block-corner.png) left top no-repeat;
    color: #FEFFEB;
}

#right #main_right .block .blocktitle {
    margin-left: -10px !important;
}

#right .block .content {
    padding: 0 5px 5px 5px;
}

ul.menu li {
    list-style-image: url(images/list.png);
}

ul.menu li.expanded {
    list-style-image: url(images/expanded.png);
}

ul.menu li.collapsed {
    list-style-image: url(images/collapsed.png);
}

#right .block .content ul.menu {
}

#right .block .content ul.menu li {
    line-height: 22px;
    background: url(images/list-border.png) bottom left no-repeat;
}

#right .block .content ul.menu li.leaf {
    list-style-image: url(images/list.png);
}

#right .block .content ul.menu li.expanded {
    list-style-image: url(images/expanded.png);
    background: none;
}

#right .block .content ul.menu li.collapsed {
    list-style-image: url(images/collapsed.png);
}

#above_content {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #f1dd70;
    background: #f9f0bc;
    position: relative;
}

.Fold {
    position: absolute;
    top: -1px;
    right: -1px;
}

#below_content {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f1dd70;
    background: #f9f0bc;
    position: relative;
}

#above_content .block, #below_content .block {
    margin: 5px 0;
}

#above_content .block .blocktitle, #below_content .block .blocktitle {
    font-size: 14px;
    font-weight: bolder;
    border-bottom: 2px solid #850902;
    display: inline;
    color: #421700;
    padding: 0 0 2px 0;
}

#above_content .block .content, #below_content .block .content {
    padding: 10px 0 5px 0;
}

.item-list ul li {
    list-style-image: url(images/list.png);
    margin: .3 0 .3em 1em;
    padding: .5em 0;
}

#right .item-list ul li {
    background: transparent url(images/list-border.png) no-repeat scroll left bottom;
}

#user-login-form .item-list ul li {
    background: none
}

.block .item-list ul {
    padding: 5px;
}

/*
 * Breadcrumb
 */
.breadcrumb {
    padding: 3px 8px;
    background: #FBF8E6;
    font-size: 11px;
    border-left: 4px solid #f7f1ca;
}

.breadcrumb a {
}

/*
 * Node
 */
.node {
    margin: 15px 0 15px 0;
}

#left .node div.links {
    height: 25px;
    margin: 5px 0;
}

#left .node div.links ul.links {
    padding: 4px 20px;
    background: #FBF8E6;
    font-size: 11px;
    border-left: 4px solid #FFD293;
    /*
     -moz-border-radius:4px;
     border-radius:4px;
     */
}

#left .node div.links ul.links li {
    margin: 0;
    padding: 0 5px 0 15px;
    background: url(images/list.png) left center no-repeat;
}

.submitted {
    font-size: 11px;
    color: #666;
    border-bottom: 1px dotted #333;
}

/*
 * bottom
 */
#bottom_blocks {
    background: #fff;
    padding: 20px 0 20px 0;
}

#bottom1, #bottom2 {
    width: 33%;
    float: left;
}

#footer {
    width: 30%;
    float: right;
}

#bottom2, #footer {
    margin-left: 2%;
}

#bottom_blocks .block {
    padding: 5px 14px;
}

#bottom1 .block {
    margin-left: 8px;
}

#bottom1 .block, #bottom2 .block {
    background: #F9F0BC;
    border: 1px solid #F1DD70;
    position: relative;
    margin-bottom: 15px;
}

#bottom1 .block .blocktitle, #bottom2 .block .blocktitle {
    border-bottom: 2px solid #850902;
    color: #421700;
    display: inline;
    font-size: 14px;
    font-weight: bolder;
    padding: 0 0 2px 0;
}

#bottom1 .block .content {
    padding: 10px 5px 5px 5px;
}

#bottom2 .block .content {
    padding: 10px 5px 5px 5px;
}

#footer * {
    list-style-image: none;
    list-style: none;
}

#footer ul, #footer li {
    padding: 2px 0 0 5px;
    margin: 0;
}

#footer #footer_msg {
    padding: 15px 24px;
    font-size: 11px;
    font-family: tahoma;
}

#footer .blocktitle {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #f5f5f5;
    padding: 2px 5px;
}

/*
 * Comments
 */
#comments {
    margin: 20px 0;
}

#comments .comment {
    margin: 20px 0;
    padding: 8px 15px;
    background: #FBF8E6;
}

#comments .comment h3 {
    font-size: 13px;
}

#comment-form {
    padding: 15px 20px;
    background: #FBF8E6;
    border-bottom: 1px solid #555;
    border-top: 1px solid #555;
}

#comment-form textarea {
    height: 150px;
    border: 1px solid #aaa;
    padding: 2px;
}

#comment-form input.form-text {
    border: 1px solid #aaa;
    padding: 2px;
    height: 13px;
}

#comment-form label {
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
}

#main_menu ul.primary-links li a, #main_menu ul.primary-links li a:visited {
    color: #feffeb;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    display: block;
    float: left;
    padding: 0 14px;
}

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/
#main_menu ul.primary-links li a, #main_menu ul.primary-links li a:visited {
    color: #feffeb;
}

#top_menu .secondary-links li a {
    color: #444;
}

#footer .blocktitle {
    color: #6d685b;
}

#footer {
    color: #fff;
}

#footer a {
    color: #222;
}

#header #texttitles .site-slogan {
    color: #D7CBBE;
}

#container_main {
    border-bottom: 20px solid #CCCCCC;
    border-left: 4px solid #DDDDDD;
    border-right: 4px solid #DDDDDD;
}

#footer {
    background: #ccc;
}

#footer a {
    color: #666;
}